body{
    background-color: rgb(80, 100, 100);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ficha{
    background-color: seagreen;
    border: 3px;
    border-color: navy;
    border-style: dotted;
}