body{
    background-color:lightslategray;
    margin: 0; /* Quita el borde blanco/gris que queda por fuera del padre */
    padding: 20px;
}
.container{
    background-color:darkolivegreen;
    max-width: 400px;
    margin:0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.input_error{
    border-color: firebrick;
    background-color: hotpink;
}
.input_ok{
    border-color:springgreen;
    background-color:darkseagreen;
}
h1{
    margin: 0 auto;
    padding: 20px;
    max-width: 300px;
}
